/src/main/resources/*.pdf
/target/
/src/main/resources/pdf_lib/
/export/
/realmworks/
/.metadata/
/.idea/
# Include export/01 and all its subfolders/files
!export/01 - pdf2text/
!export/01 - pdf2text/**