/src/main/resources/*.pdf
/target/
/src/main/resources/pdf_lib/
/export/02 - applyStrategies/
/export/03 - raw/
/export/04 - json/
/export/heldenbogen/
/export/images/
/export/markdown/
/export/selection/
/realmworks/
/.metadata/
/.idea/
