<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d [%t] %-5level %logger{36} - %msg%n%throwable"/>
        </Console>
        <File name="FILE_EXPORT_MS_SMALL" fileName="target/export/mystical-skills-small.csv" append="false">
            <PatternLayout>
                <Pattern>%m%n</Pattern>
            </PatternLayout>
        </File>
        <File name="FILE_EXPORT_MS_MEDIUM" fileName="target/export/mystical-skills.csv" append="false">
            <PatternLayout>
                <Pattern>%m%n</Pattern>
            </PatternLayout>
        </File>
        <File name="FILE_ANALYSE" fileName="target/export/analyse.csv" append="false">
            <PatternLayout>
                <Pattern>%m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="analyseLogger" level="DEBUG" additivity="false">
            <AppenderRef ref="FILE_ANALYSE"/>
        </Logger>
        <Logger name="exportLoggerMsSmall" level="DEBUG" additivity="false">
            <AppenderRef ref="FILE_EXPORT_MS_SMALL"/>
        </Logger>

        <Logger name="exportLoggerMsMedium" level="DEBUG" additivity="false">
            <AppenderRef ref="FILE_EXPORT_MS_MEDIUM"/>
        </Logger>
        <Root level="DEBUG">
            <AppenderRef ref="ConsoleAppender"/>
        </Root>
    </Loggers>
</Configuration>